.products {
  flex: 100%;
}
@media (min-width: 970px) {
  .products {
    flex: 50%;
  }
}

.products .header {
  font-size: 1.5rem;
  margin: 2rem;
}

.product-list {
  min-width: 130%;
}

.product-list .item {
  display: flex;
  justify-content: space-between;
  margin: 9% 0;
  margin-right: 5%;
  font-size: 20px;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name_price-container {
  min-width: 60%;
}

.name_price-container > div:first-child {
  font-size: 25px;
  font-weight: bold;
}

button.add-to-cart {
  margin-top: 1rem;
  height: 23%;
  width: 70px;
}

.product-image {
  width: 11rem;
  height: 11rem;
}

.scroller {
  margin: 0 auto;
  height: 500px;
  width: 600px;
  overflow: auto;
}
